/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General */
*{
    margin:0;
    font-family: var(--inter);
    text-decoration: none;
    list-style: none;
}
:root{
    --playfair: "Playfair Display", serif;
    --inter: "Inter", sans-serif;
    --vert: #419D78;
    --texte: #333333;
    --background: #2D3047;
    --background-grey: #F3F4F6;
    --white: #fff;
}
.m-width{
    max-width: 1536px;
    margin: auto;
}
.m-width1920{
    max-width: 1920px;
    margin: auto;
}
h1{
    font-size: 60px;
    font-weight: 700;
}
h2{
    font-size: 36px;
    font-weight: 700;
    color: #C96B3B;
}
h3{
    font-size: 24px;
    font-weight: 600;
    color: #5E3B2C;
}
h4{
    font-size: 18px;
    font-weight: 400;
    color: #7A675C;
}
h1, h2, h3, h4{
    font-family: var(--playfair);
}
img{
    object-fit: cover;
}
a{
    transition:all 0.3s ease-in-out;
    &:hover{
        transition:all 0.3s ease-in-out;
    }
}
.div-titre{
    text-align: center;
    padding-bottom: 20px;
    h2{
        padding-bottom: 20px;
    }
    p{
        font-size: 18px;
    }
}
/* Header */
header{
    background-color: var(--background-grey);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    div{
        display: flex;
        justify-content: space-between;
        padding:15px;
        align-items: center;
        >nav >ul >li:nth-child(1) >a{
            color:var(--vert);
        }
        a{
            color: var(--texte);
            font-family: var(--playfair);
            &:hover{
                color: var(--vert)
            }
        }
        >a{
            font-size: 24px;
            font-weight: 700;
        }
        ul{
            display: flex;
            gap: 30px;
            padding: 0;
            a{
                font-size: 16px;
                font-weight: 500;
            }
        }
        .fa-bars{
            display: none;
            transition: all 0.3s ease-in-out;
            &:hover{
                transition: all 0.3s ease-in-out;
                color:var(--vert);
            }
        }
    }
}
/* Main */
main{
    background: linear-gradient(to bottom, white 0%, #dff7dc 70%, white 100%);
    #presentation{
        .conteneur-img{
            position: relative;
            width: 100%;
            height: 100%;
            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
            }
            .texte-overlay{
                position: absolute;
                top: 38%;
                left: -5%;
                width: 100%;
                color: var(--white);
                display: flex;
                justify-content: space-around;
                align-items: center;
                >div{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }
                a{
                    color:var(--white);
                    background-color: var(--vert);
                    padding: 10px 20px;
                    border-radius: 12px;
                    inline-size: fit-content;
                    &:hover{
                        background-color: var(--white);
                        color: var(--vert);
                    }
                }
                img{
                border-radius: 100%;
                border: 1px solid var(--white);
                width: 256px;
                height: 256px;
                }
            }
        }
    }
    #a-propos{
        padding:60px;
        h2{
            text-align: center;
            padding-bottom: 60px;
        }
        >div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:30px;

            #monparcours{
                display: flex;
                flex-direction: column;
                gap: 20px;
                a{
                    color:var(--vert);
                    width: fit-content;
                    &:hover{
                        background-color: var(--vert);
                        color: var(--white);
                    }
                }
            }
            #mescompétences{
                h3{
                    padding-bottom: 40px;
                }
                >div{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap:20px;
                    i{
                        font-size: 40px;
                        padding-bottom: 10px;
                    }
                    div{
                        text-align: center;
                    }
                }
            }
        }
    }
    #mes-projets-recents{
        padding:60px 0;
        >div{
            #div-a{
                display: flex;
                justify-content: center;
                a{
                    color:var(--white);
                    background-color: var(--background);
                    padding: 15px 20px;
                    &:hover{
                        background-color: var(--vert);
                        color: var(--white);
                    }
                }
            }
            #div-articles{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap:40px;
                padding: 40px 0;
                article{
                    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
                    border-radius: 20px;
                    background-color: var(--white);
                }
                img{
                    width: 100%;
                    height: 256px;
                    object-fit: cover;
                    border-radius: 20px 20px 0 0;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    background-color: var(--white);
                    padding: 20px;
                    border-radius: 0 0 20px 20px;
                }
                a{
                    color:var(--vert);
                    width: fit-content;
                    &:hover{
                        background-color: var(--vert);
                        color: var(--white);
                    }
                }
                ul{
                    padding: 0;
                    display: flex;
                    gap: 10px;
                }
                li{
                    background-color: var(--background-grey);
                    padding: 5px 10px;
                    border-radius: 20px;
                }
            }
        }
    }
    #contactez-moi{
        max-width: 672px;
        margin:auto;
        >div{
            padding:40px 0;
        }
        #formulaire{
            background-color: var(--background-grey);
            border-radius: 12px;
            form{
                display: flex;
                flex-direction: column;
                padding:20px;
                gap:20px;
                input, textarea{
                    border: 1px solid rgba(0,0,0,0.2);
                }
                > div:nth-child(1){
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap:20px;
                    p{
                        padding-bottom: 5px;
                    }
                    input{
                        padding:10px;
                        width: 90%;
                    }
                }
                > div:nth-child(2){
                    p{
                        padding-bottom: 5px;
                    }
                    textarea{
                        width: 98%;
                        height: 120px;
                    }
                }
                > div:nth-child(3){
                    display: flex;
                    font-size: 14px;
                    gap:5px;
                }
                button{
                    width: fit-content;
                    background-color: var(--vert);
                    color:var(--white);
                    padding: 10px 20px;
                    border-radius: 12px;
                    border:none;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        transition: all 0.3s ease-in-out;
                        color:var(--vert);
                        background-color: var(--white);
                    }
                }
            }
            
        }
    }
}
/* Footer */
footer{
    background-color: var(--background);
    color: var(--white);
    >div{
        display: flex;
        justify-content: space-between;
        padding: 40px 10px;
    }
    a{
        color:var(--white);
        font-size: 24px;
        font-family: var(--playfair);
        &:hover{
            color:var(--vert);
        }
    }
    ul{
        display: flex;
        gap: 20px;
        justify-content: right;
    }
    p{
        padding-top: 10px;
    }
    i{
        transition: all 0.3s ease-in-out;
        &:hover{
            color:var(--vert);
            transition: all 0.3s ease-in-out;
        }
    }
}
/* Responsive tablette */

/* Responsive mobile */
@media screen and (max-width: 768px){
    header{
        nav{
            ul{
                display: none;
            }
            .fa-bars{
                display: inline;
                cursor:pointer;
            }
        }
    }
    main{
        #presentation{
            .conteneur-img{
                height: 640px;
                .texte-overlay{
                    flex-direction: column;
                    top:0;
                    gap:60px;
                    >div{
                        padding: 20px;
                    }
                    >div >p{
                        width: 90%;
                    }
                }
            }
            h1{
                font-size: 40px;
            }
        }
        #a-propos{
            >div{
                grid-template-columns: 1fr;
            }
        }
        #mes-projets-recents{
            >div{
                #div-articles{
                    grid-template-columns: 1fr;
                }
            }
        }
        #contactez-moi > div #formulaire form div:nth-child(1){
            grid-template-columns: 1fr;
        }
    }
}
/* 2eme Page (A propos) */
#second{
    header{
        div >nav >ul >li:nth-child(1) >a{
                color:var(--texte);
        }
        div >nav >ul >li:nth-child(2) >a{
                color:var(--vert);
        }
    }
    main{
        #a-propos{
            padding: 80px 20px 60px 20px;
            >div:nth-child(1){
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:10px;
                padding-top: 20px;
                img{
                    width: 10%;
                }
            }
        }
        #en-plus{
            padding: 0 20px 60px 20px;
            h2{
                text-align: center;
                padding-bottom: 60px;
            }
            >div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap:30px;
            }
            #profil{
                display: flex;
                flex-direction: column;
                gap:20px;
            }
            #div-cards{
                display: flex;
                flex-direction: column;
                gap:20px;
                >div{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap:40px;
                }
            }
            .cards{
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                border-radius: 12px;
                padding:10px 0;
            }
            .fa-computer{
                color:blue;
            }
            .fa-repeat{
                color:#5DADE2;
            }
            .fa-brain{
                color:pink;
            }
            .fa-bolt{
                color: orange;
            }
            .fa-handshake{
                color: #ffde21
            }
            .fa-shuttle-space{
                color: red;
            }
        }
    }
}
@media screen and (max-width: 768px){
    #second main #en-plus >div{
        grid-template-columns: 1fr;
    }
    #second main #a-propos >div:nth-child(1) >img{
        width: 30%;
    }
}
/* 3eme Page (Projets) */
#third{
    header{
        div >nav >ul >li:nth-child(1) >a{
                color:var(--texte);
        }
        div >nav >ul >li:nth-child(3) >a{
                color:var(--vert);
        }
    }
    main{
        #mes-projets-recents{
            padding: 80px 0 60px 0;
        }
    }
}
/* 4eme Page (Contact) */
#fourth{
    header{
        div >nav >ul >li:nth-child(1) >a{
                color:var(--texte);
        }
        div >nav >ul >li:nth-child(4) >a{
                color:var(--vert);
        }
    }
    main{
        #contactez-moi{
            padding-top: 40px;
        }
    }
}